<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card-group">
              <div class="card">
                <div class="card-body p-3">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                    <h1>Reset Password</h1>
                    <p class="text-muted"></p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Enter Passowrd" formControlName="password" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Enter Confirm Passowrd" formControlName="confirm_password" required>
                      </div>

                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4">{{button_title}}</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  